.admin-List {
    display: flex;
    padding: 10px;
    list-style: none;
}

.Admin-item {
    padding: 5px;
}

.admin-Link {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}