.admin_laybel {
    display: flex;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
    margin: auto;
}

.admin-List {
    display: flex;
    padding: 10px;
    list-style: none;
}

.Admin-item {
    padding: 15px;
}

.admin-Link {
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
    text-transform: capitalize;
}

.admin-content {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.Menu-Admin {}

.Menu-List {
    list-style: none;
}