.content {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.content__banner {
    width: 100%;
    position: relative;
}

.content--list-image {
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.content--image {
    width: 100%;
}

.banner--content {
    position: absolute;
    top: 10%;
    left: 15%;
}

.banner--content-text-title {
    text-transform: uppercase;
    font-family: 800;
    font-family: "gotham-utral";
    font-size: 25px;
}

.banner--content-text {
    font-size: 18px;
    color: var(--text-color);
    width: 420px;
}

.banner--button {
    padding: 20px;
    color: aliceblue;
    background-color: var(--primary-color);
    border: none;
    font-family: "gotham-utral";
    font-size: 18px;
    cursor: pointer;
}

.content__focut {
    position: relative;
    background-color: #ffffff;
    top: -60px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.focut--list {
    margin: auto;
    display: flex;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
}

.focut--item {
    width: 25%;
    text-align: center;
}

.focut--img {
    width: 100%;
}

.focut--text {
    text-align: center;
    font-size: 23px;
}

.content__featured {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 30px;
}

.featured--list {
    width: 100%;
    list-style: none;
    display: flex;
    text-align: center;
}

.featured--item {}

.featured--img {
    width: 80%;
    margin: auto;
}

.about__us {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    position: relative;
    padding: 20px 0px;
}

.about--background {
    width: 100%;
    height: 100%;
}

.about--background img {
    width: 100%;
    filter: grayscale(100%) contrast(100%);
    height: 100%;
}

.about__us-bag {
    position: absolute;
    top: 0px;
    width: 100%;
    max-width: 1200px;
    left: 10%;
    color: #ffffff;
}

.about__content {
    width: 100%;
}

.about--block {
    display: flex;
    justify-content: space-between;
}

.about--content {
    width: 47%;
}

.about--content--title {
    font-size: 23px;
}

.about--text--list {
    font-size: 16px;
    padding: 10px 0px;
}

.about--text {
    padding: 10px 0px;
}

.about--list {
    list-style: none;
    display: flex;
}

.about--item {
    width: 23%;
    padding: 3px;
}

.about--img {
    width: 100%;
}

.choose__choose {
    width: 100%;
}

.choose--list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choose--item {
    align-items: center;
    margin: 5px 0px;
    width: 48%;
    display: flex;
    background-color: #ffffff;
}

.choose--content-title {
    color: var(--primary-color);
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 800;
}

.choose--text {
    font-weight: 700;
    font-size: 16px;
    padding: 5px 0px;
    color: var(--text-color);
}

.news {}

.content--title {}

.news--contain {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news--contain--item {
    width: 48%;
    position: relative;
}

.impotant--grd {
    height: 460px;
    width: 100%;
}

.news-contain-impotant {
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    height: 25%;
    background-color: var(--primary-color);
    padding: 20px 10px;
    width: 97%;
}

.news--impotant-heading {
    font-size: 23px;
    text-transform: uppercase;
    color: #ffffff;
}

.news--impotant-text {
    font-size: 16px;
}

.news--list {
    list-style: none;
}

.news--list-item {
    margin: 5px 0;
    display: flex;
    height: 90px;
}

.news--item-contain {
    margin: 5px;
}

.new--itemheading {}

.news--impotant-text {
    margin: 0px;
}

.partner--contain {}

.partner--list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    /* setup max width  */
    max-width: 1200px;
    margin: auto;
}

.partner--item {
    /* setup width calc 100/7 */
    width: calc(100% / 7);
    /* width: calc(100%/7%); */
}

.content--contact {
    width: 100%;
    margin: auto;
    max-width: 1500px;
    position: relative;
}

.contact--contain {}

.contact-bg {
    width: 100%;
}

.contact-contain {}

.contact-image {
    position: absolute;
    display: none;
}